header{
    position: sticky;
    top:0%;
    z-index: 1000;
}
.flex-box{
    background-color: rgb(255, 255, 255);
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo-container{
    width: 48px;
    padding: 3px 0 0 16px;
}
.search-container{
    width: calc(100%);
}
.search-box{
    background-color: #eeeeee;
    width: 100%;
    height: 3rem;
    border-radius: 3rem;
    border: 0ch;
}
.icons-container{
    padding: 3px 16px 0 0;
}
.icon-container{
    width: 48px;
}
.icon{
    padding: 12px;
    width: 24px;
    border-radius: 100%;
}
.icon-list-container{
    width: 24px;
}
.icon-list{
    width: 24px;
    border-radius: 100%;
}
.icon-list:hover{
    background-color: rgba(224, 224, 224, 0.623);
}
.icon:hover{
    background-color: rgba(224, 224, 224, 0.623);
}
.icons-container{
    width: 168px;
}
.container{
    max-width: 1444px;
    width: 98%;
    margin: 0 auto;
    padding: 40px 0;
}
.one-column{
    display: flex;
    gap: 10px;
}
.two-columns{
    display: flex;
    gap: 10px;
}
.four-columns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.image img{
    padding: 0 5px;
    width: 95%;
    border-radius: 1rem;
}
.image:hover{
    scale: 1.03;

}
@media (max-width:500px) {
    .two-columns{
        display: block;
    }
}
@media (max-width:240px) {
    .one-column{
        display: block;
    }
}
